<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title><%= title %></title>
    <script src="./script.js" defer></script>
  </head>
  <body>
    <header class="header">
      <div class="conteiner">
        <div class="header-box">
          <div class="header-logo">
            <a href="/">
            <img src="./image/Logo.svg" alt="logo" />
            </a>
            <span>ФГБУ "Канал имени Москвы"</span>
          </div>
          <div class="header-controls">
            <button class="btn btn-outline">Вход и регистрация</button>
          </div>
          <div class="header-burger">
            <img src="./image/Burger.svg" alt="burger" />
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="search">
        <div class="conteiner">
          <div class="search-box">
            <input type="text" />
            <button class="btn btn-primary search-btn">
              <img class="search-btn__icon" src="./image/search.svg" alt="search" />
              <span class="search-btn__text">Найти</span>
            </button>
          </div>
        </div>
      </section>