<%- include('includes/header.ejs') %>
    <section class="content">
        <div class="conteiner">
          <div class="content-box">
            <div class="content-main">
                <h2>Дымность</h2>
                <p><a href="/addProtocol">Новый протокол</a></p>
                <p><a href="/addShip">Добавить теплоход</a></p>
                <p><a href="/addMotor">Добавить двигатель</a></p>
                <p><a href="#">История протоколов</a></p>
            </div>
          </div>
        </div>
    </section>

<%- include('includes/footer.ejs') %>